* {
    box-sizing: border-box;
    padding: none;
    margin: none;
}

html {
    height: 100%;
    width: 100%;
}

header {
    background: url('./images/header-photo.png') no-repeat center;
    padding: 50px, 20px;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
    width: 40%;
}

nav ul li {
    width: 100px;
}

.button {
    background-color: #ffffff;
    color: #000000;
    width: 20%;
    height: 2rem;
    border-radius: 50px;
    border: none;
}

header div {
    text-align: center;
    padding-top: 70px;
}

header div h1 {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 69px;
}

header div img {
    padding-top: 20x;
}

main section {
    display: flex;
}

main section:first-child {
    flex-direction: row-reverse;
}

main section img,
main section div {
    width: 50%;
    height: 50%;
}

section div {
    padding: 60px;
}


main section:last-child div {
    padding: 0px;
    position: relative;
}

main section:last-child img {
    width: 100%;
    height: 100%;
}

main section h3 {
    font-size: 40px;
    line-height: 30px;
    width: 445px;
    font-family: 'Fraunces', serif;
    letter-spacing: -0.29px;
    line-height: 49px;
    color: #24303E;
    width: 445px;
}

main section p {
    font-size: 18px;
    line-height: 30px;
    width: 445px;
    line-height: 30px;
    letter-spacing: -0.13px;
    color: #808397;
    font-weight: 600;
}

main section button {
    width: 120px;
    height: 25px;
    left: 8px;
    border: none;
    font-family: 'Fraunces', serif;
    color: #24303E;
    line-height: 25px;
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    background-color: #eeeeddef;
}

main section:last-child div.first h4 {
    color: #24554A;
}

main section:last-child div.second h4 {
    color: #052C3B;
}

main section:last-child div.first p {
    color: #3E7467;
}

main section:last-child div.first p {
    color: #19536C;
}

main section:last-child h4 {
    position: absolute;
    font-weight: 900;
    font-size: 28px;
    line-height: 34px;
    width: 221px;
    bottom: 100px;
    left: 34%;
    text-align: center;
    font-family: 'Fraunces', serif;
}

main section:last-child p {
    position: absolute;
    bottom: 25px;
    left: 25%;
    letter-spacing: 0.11px;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
    font-weight: 600;
    color: #3E7467;
    width: 339px;
}

section h3.top {
    /* position: absolute;
    height: 25px;
    width: 348px;
    top: 150rem;
    left: 42%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
    color: #A7AAAD;
    font-family: 'Fraunces 9pt Soft';
    font-size: 20px;
    line-height: 24.66px;
    align-items: center;
}

section .clients {
    position: absolute;
    width: 99%;
    height: 457px;
    top: 2400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients img {
    display: block;
    margin: 0 auto;
}

.clients p, h5 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.clients p {
    color: #5B636D;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.13px;
}

.clients h5 {
    color: #24303E;
    font-family: 'Fraunces 9pt Soft';
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.13px;
    margin-top: 60px; 
}